html
{
    background: #111827;
    color: beige;
    font-family: verdana
}
h1
{
    color : whitesmoke;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}
h2
{
    color :chocolate;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    
}
table 
{
    color: whitesmoke;
    table-layout: auto;
}
thead
{
    color :blanchedalmond;
}
tr
{
}
.parent-div
{

}